
<div class="dashboard-layout-tool inline-block">
<%=t('Layout:')%>
<select class="dashboard-select-layout form-control mr10">
  <% let app = dashboard.apps[currentApp]; %>
  <% for (let layout of app.layouts) { %>
    <% let checked = layout === currentLayout ? 'selected' : ''%>
    <option value="<%- layout %>" <%- checked %>>
      <%= dashboard.getLayoutTitle(layout) %>
    </option>
  <% } %>
</select>
</div>

<script>
  $(function () {
    var $tools = $('.dashboard-layout-tool');
    var $layouts = $tools.find('.dashboard-select-layout');
    $layouts.change(function () {
      var event = $.Event('dashboard:changeLayout', {layout: $layouts.val()});
      $layouts.trigger(event);
      if (!event.isPropagationStopped()) {
        Cookies.set('dashboard-layout', $layouts.val(), {expires: 30, path: ''});
        location.reload();
      }
    });
    $('.dashboard-tools').append($tools);
  });
</script>

<%- layoutContent %>
