
<link href="/dashboard/node_modules/gridster-js/dist/jquery.gridster.min.css" rel="stylesheet">
<link href="/dashboard/css/gridster.css" rel="stylesheet">

<script src="/dashboard/node_modules/gridster-js/dist/jquery.gridster.min.js"></script>
<script src="/dashboard/node_modules/gridster-js/dist/jquery.gridster.with-extras.min.js"></script>

<div class="gridster">
  <ul>
    <li data-sizey="1" data-sizex="1" data-col="1" data-row="3">
      <% var test = dashboard.getWidget('test'); %>
      <%- partial(test.view, {
        widget: test,
        params: {
          id: 'test',
          title: 'Test 1'
        },
        cssBackground: 'bg-success'
      })%>
    </li>

    <li data-sizey="1" data-sizex="2" data-col="2" data-row="3">
      <%- partial(test.view, {
        widget: test,
        params: {
          id: 'test2',
          title: 'Test 2'
        },
        cssBackground: 'bg-warning',
        cssProgress: 'progress-bar-success'
      })%>
    </li>

    <li data-sizey="2" data-sizex="2" data-col="1" data-row="1">
      <%- partial(test.view, {
        widget: test,
        params: {
          id: 'test3',
          title: 'Test 3'
        },
        cssBackground: 'bg-danger',
        cssProgress: 'progress-bar-warning'
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="3" data-row="1">
      <%- partial(test.view, {
        widget: test,
        params: {
          id: 't',
          title: 'title'
        },
        cssBackground: 'bg-info',
        cssProgress: 'progress-bar-info'
      })%>
    </li>

    <li data-sizey="1" data-sizex="1" data-col="3" data-row="2">

    </li>

    <li data-sizey="3" data-sizex="1" data-col="4" data-row="1">
      <% var image = dashboard.getWidget('develop-and-test-image'); %>
      <%- partial(image.view, {
        widget: image,
        params: {
          id: 'image1',
          title: 'Image 1'
        }
      })%>
    </li>
  </ul>
</div>

<script>
  (function () {
    var gridster = $(".gridster ul").gridster({
      widget_base_dimensions: ['auto', 140],
      autogenerate_stylesheet: true,
      min_cols: 1,
      max_cols: 4,
      widget_margins: [10, 10],
      resize: {
        enabled: true
      }
    }).data('gridster');
    $('.gridster  ul').css({'padding': '0'});
  })();
</script>
